 .social-media{
 	margin:0 auto;
 	padding:0;
 	width:85%;
 		
 	.social-media__item{
		margin-left:0;
		list-style:none;
		width:45px;
		text-align: center;


		a {
			
			.icon {
				color: $shuttle-gray;
				@include font-size(2.8);
			}
		}
	}

	
}
