<ul class="social-media">
            <li class="social-media__item">
              <a href="{{ .Site.Params.linkedin }}" target="_blank">
              <i class="icon icon-linkedin"></i><span class="hide-text">linkedln</span></a>
            </li>
            <li class="social-media__item">
              <a href="{{ .Site.Params.twitter }}" target="_blank">
              <i class="icon icon-twitter"></i><span class="hide-text">@lashlled</span></a>
            </li>
            <li class="social-media__item">
              <a href="{{ .Site.Params.github }}" target="_blank">
              <i class="icon icon-github"></i><span class="hide-text">github</span></a>
            </li>
            <li class="social-media__item">
              <a href="mailto:{{ .Site.Params.email }}">
              <i class="icon icon-envelop"></i><span class="hide-text">{{ .Site.Params.email }}</span></a>
            </li>
          </ul>