<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ .Site.Params.title }} &mdash; {{ .Site.Params.subtitle }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ .Site.Params.metadescription }}" />
  <meta name="keywords" content="{{ .Site.Params.metakeywords }}" />
  <!--<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />-->

  <link rel="stylesheet" href="{{ "/css/main.css" | absURL }}" />
  <!--<script src="/js/modernizr.custom.js"></script>-->
  <script src="{{ .Site.Params.typekitfont }}"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>

    <header class="header container-center"  role="banner">

      <div class="header__wrap">
        <div class="header__outerlayer">
          <h1 class="header__title">
            <a href="/">{{ .Site.Params.title }} 
              <span class="header__subtitle">{{ .Site.Params.subtitle }}</span>
            </a>
          </h1>
        </div>
      </div>
      {{ partial "nav.html" .}}
    </div>
  </header>